.a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
    font-size: 20px;
    
    
}
.b{
    text-align: center;
    font-size: 20px;
}
.c{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 25px;
}